@import './mixin.scss';

.container {
    @include layout;
}

.boximage {
    display: block;
}

.mobileHide {
    display: block;
}

.image {
    display: block;
}

.button {
    display: block;
}

.deskTopHide {
    display: none;
}

.mobileHideInline {
    display: inline;
}

.cursor-pointer{
    cursor: pointer;
}
/* Phone Breakpine*/
@media (max-width: 768px) {

    // body{
    //     margin: 0;
    // }
    .catagories{
        padding-left: 0;
    }
    .container {
        padding: 0px 0px;
        margin: 0px;
    }

    .estimate {
        width: 100% !important;
    }

    .mobileHide {
        display: none;
    }

    .deskTopHide {
        display: block;
    }

    .mobileheader {
        @include headfootborder;

        .mobileIcon {
            margin-top: 10px;
        }

        .menu {
            padding-top: 17px;
            padding-left: 10px;
        }

        .searchIcon {
            padding-top: 20px;
        }

        .searchI {
            margin-right: 25px;
        }

    }

    .image {
        height: 120px;
        width: 100%;
    }

    .button {
        margin-right: 30px;
        float: right;
        padding: 0px !important;
    }

    .mobileHideInline {
        display: none;
    }

    .Productdetails {
        .detailimage {
            width: 100% !important;
        }
    }

    .results {
        @include ptitle;
        text-align: center;
        font-size: 16px;
    }

    .incrementbtn {
        text-align: center;
    }

    .addbtn {
        margin-left: 42px;
    }

    .svgIcon {
        padding-left: 47px;
    }

    .mobile-text-align-center {
        text-align: center;
    }

    .precaution {
        padding-left: 168px !important;
    }

    .sectionender {
        background-color: $primary-brand;
        margin-top: 40px;
        margin-left: 153px;
        height: 8px;
        width: 102px;
    }

    .dotborder {
        width: 20%;        
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 2000px) {
    .productItem{
        .productMainImage{
            height: auto;
        }
    }
    
}